body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Slightly off-white for a softer look */
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a21e99; /* Black background */
    color: #ffffff; /* White text */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    background-color: #a21e99; 
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff; /* White text */
    text-decoration: none;
    padding: 10px;
    background-color: #468e88; /* background */
}

nav ul li a:hover {
    background-color: #555; /* Slightly lighter grey on hover */
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff; /* White background */
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input[type="number"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Dark grey on hover */
}

footer {
    background-color: #000000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
